{% extends 'base2.html' %}

{% block content %}
<h1>{% block title %} Validate an Access Code {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="access_code">Access Code</label>
        <input type="text" name="access_code"
               placeholder="Enter access code here" class="form-control"
               value="{{ request.form['access_code'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Validate</button>
    </div>
</form>
{% endblock %}